.site-body {
    background-color: #5E7ADB;
}

.name-box,
.form-main-box {
    width: 850px;
    margin: 100px auto 50px auto;
}

.form-main-box {
    margin: 0;
}

.todo-app-main-box,
.todo-search-box {
    display: flex;
    margin: 100px 0 50px 0;
}

.todo-search-box {
    justify-content: center;
}

.name-box {
    width: 700px;
    padding: 30px;
    background-color: #ffffff76;
    border-radius: 20px;
}

.name-box {
    position: relative;
}

.name-title {
    margin: 0 0 5px 25px;
    font-size: 22px;
    font-weight: 700;
    color: #ffee53;
}

.name-error {
    position: absolute;
    top: 115px;
    left: 30px;
    padding: 10px 20px;
    color: #ffff00;
    border-radius: 20px;
    background-color: #ff0000;
    opacity: 0;
    transition: opacity .5s;
}

.name-result-text {
    margin: 0 0 5px 25px;
    font-size: 20px;
    font-weight: 700;
    color: #ffff00;
}

.counter-main-box {
    margin: 40px 100px 0 0;
    width: 220px;
}

.main-counter-plans {
    display: block;
    margin: 0;
    padding: 5px 10px;
    color: #ffd100;
    font-weight: 700;
    border: 2px solid #ffd100;
    border-radius: 20px;
    cursor: pointer;
}

.main-counter-plans:not(:last-child) {
    margin-bottom: 30px;
}

.form-box {
    position: relative;
    padding: 30px;
    background-color: #ffffff76;
    border-radius: 25px;
}

.todo-title {
    margin: 0 0 40px 0;
    font-size: 45px;
    font-weight: 700;
    color: #0000ff;
    text-align: center;
}

.todo-marked {
    color: #ff0000;
}

.error-box {
    position: absolute;
    top: 75px;
    padding: 10px 20px;
    background-color: #ff6347;
    border-radius: 50px;
    opacity: 0;
    transition: opacity .5s;
}

.error-box-on {
    opacity: 1;
}

.error-box-text {
    color: #ffffff;
    font-weight: 600;
}

.todo-input,
.name-input,
.todo-serach-input {
    width: 500px;
    padding: 10px;
    font-weight: 700;
    background-color: #f0ffff;
    border-radius: 20px;
}

.todo-serach-input {
    width: 700px;
}

.todo-input::placeholder,
.todo-serach-input::placeholder {
    font-weight: 700;
}

.todo-btn,
.todo-delete-all-btn,
.name-btn,
.todo-search-btn {
    margin-left: 20px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    background-color: #7fffd4;
    border: none;
    border-radius: 20px;
}

.todo-search-btn {
    background-color: #FFFF00;
}

.todo-delete-all-btn {
    margin-left: 10px;
    color: #ffffff;
    background-color: #ff6347;
}

.name-btn {
    color: #ffffff;
    background-color: #ff6347;
}

.todo-empty-text-box {
    margin-top: 25px;
    text-align: center;
}

.todo-empty-text {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: #008080;
}

.todo-empty-text-box--off {
    display: none;
}

.todo-item-counter,
.todo-item-result {
    display: none;
    margin: 20px 0 0 25px;
    font-size: 18px;
    font-weight: 700;
    color: #5a3ab6
}

.todo-item-result {
    display: block;
}

.todo-order-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #f0ffff;
    border-radius: 20px;
    border: 2px solid #5E7ADB;
}

.item-check-and-text-box {
    display: flex;
    align-items: center;
}

.item-check-label {
    margin-right: 5px;
    padding: 5px 0 0 0;
}

.item-input-span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./images/oval.png");
    background-position: center;
    background-size: 13px 13px;
    background-repeat: no-repeat;
}

.item-check-input:checked+.item-input-span {
    width: 20px;
    height: 20px;
    background-image: url("./images/check-mark.png");
    background-size: cover;
}

.todo-item-text {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.todo-item-btn-box {
    display: flex;
    align-items: center;
}

.todo-edit-btn {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background-image: url("./images/edit-icon.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.todo-deleteItem-btn {
    width: 30px;
    height: 30px;
    background-image: url("./images/delete-icon.svg");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.cancel-btn {
    width: 100%;
    height: 100%;
    font-weight: 700;
    /* background-image: url("./images/reset-icon.png"); */
    background-image: none;
}

.deleted-list {
    display: flex;
    flex-direction: column;
    width: 780px;
    margin: 50px auto 0 auto;
    padding-left: 0;
    list-style: none;
}

.delet-all-main-modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000000a6;
}

.site-body--on .delet-all-main-modal--on {
    display: block;
}

.delete-all-modal-box {
    position: relative;
    top: 250px;
    margin: 0 auto;
    width: 0;
    width: 400px;
    padding: 30px;
    background-color: #5E7ADB;
    border-radius: 20px;
}

.delete-all-text {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

.delete-all-btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.delete-all-btn {
    padding: 5px 25px;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    border-radius: 20px;
}

.delete-modal-sure {
    background-color: #ffee53;
}

.delete-modal-unsure {
    margin-left: 20px;
    color: #fff;
    background-color: #ff6347;

}