body {
    background-color: #5E7ADB;
}

.form-main-box,
.name-box {
    width: 850px;
    margin: 100px auto 50px auto;
}

.name-box {
    width: 700px;
    padding: 30px;
    background-color: #ffffff76;
    border-radius: 20px;
}

.name-box {
    position: relative;
}

.name-title {
    margin: 0 0 5px 25px;
    font-size: 22px;
    font-weight: 700;
    color: #ffee53;
}

.name-error {
    position: absolute;
    top: 115px;
    left: 30px;
    padding: 10px 20px;
    color: #ffff00;
    border-radius: 20px;
    background-color: #ff0000;
    opacity: 0;
    transition: opacity .5s;
}

.name-result-text {
    margin: 0 0 5px 25px;
    font-size: 20px;
    font-weight: 700;
    color: #ffff00;
}

.form-box {
    position: relative;
    padding: 30px;
    background-color: #ffffff76;
    border-radius: 25px;
}

.todo-title {
    margin: 0 0 40px 0;
    font-size: 45px;
    font-weight: 700;
    color: #0000ff;
    text-align: center;
}

.todo-marked {
    color: #ff0000;
}

.error-box {
    position: absolute;
    top: 75px;
    padding: 10px 20px;
    background-color: #ff6347;
    border-radius: 50px;
    opacity: 0;
    transition: opacity .5s;
}

.error-box-on {
    opacity: 1;
}

.todo-input,
.name-input {
    width: 500px;
    padding: 10px;
    font-weight: 700;
    background-color: #f0ffff;
    border-radius: 20px;
}

.todo-input::placeholder {
    font-weight: 700;
}

.todo-btn,
.todo-delete-all-btn,
.name-btn {
    margin-left: 20px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    background-color: #7fffd4;
    border: none;
    border-radius: 20px;
}

.todo-delete-all-btn {
    margin-left: 10px;
    color: #ffffff;
    background-color: #ff6347;
}

.name-btn {
    color: #ffffff;
    background-color: #ff6347;
}

.todo-empty-text-box {
    margin-top: 25px;
    text-align: center;
}

.todo-empty-text {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: #008080;
}

.todo-empty-text-box--off {
    display: none;
}

.todo-item-counter,
.todo-item-result {
    display: none;
    margin: 20px 0 0 25px;
    font-size: 18px;
    font-weight: 700;
    color: #5a3ab6
}

.todo-item-result {
    display: block;
}

.todo-order-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-order-item {
    /* This width is for temporary commented */
    /* width: 500px;  */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    background-color: #f0ffff;
    border-radius: 20px;
    border: 2px solid #5E7ADB;
}

.todo-deleteItem-btn {
    padding: 15px 15px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    background-image: url("./images/delete-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* .todo-order-list li:first-child { */
/* margin-top: 35px; */
/* } */